input:hover,
input:active,
input:focus,
select:hover,
select:active,
select:focus {
  outline: 0px !important;
  /* -webkit-appearance: none; */
  box-shadow: none !important;
}

input,
select {
  height: 30px !important;
  font-size: 0.9rem !important;
  color: rgb(36, 122, 202);
  border: 1px solid #ccc;
  padding: 0px 14px 0px !important;
  transition: 0.4s;
  width: 100%;
  border-radius: 0 !important;
}

::placeholder {
  color: rgb(133, 161, 187) !important;
  opacity: 1;
}

:focus {
  outline: none;
}

.button {
  height: 30px !important;
  font-size: 0.9rem !important;
  color: rgb(36, 122, 202);
  border: 2px solid !important;
  padding-right: 30px !important;
  padding-left: 30px !important;
}

#errors {
  font-size: 0.75rem;
  height: 100px;
  display: block;
}

.form-group {
  width: 100%;
}

label {
  min-width: 85px;
}

.col-9 {
  height: 30px;
}

#welcome-message {
  top: 500px;
  position: absolute;
  right: 15px;
  left: auto;
}

/* INPUT ANIMATION */

.form-control~.focus-border:before,
.form-control~.focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 0;
  height: 2px;
  background-color: rgb(36, 122, 202);
  transition: 0.3s;
}

.form-control~.focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 15px;
}

.form-control~.focus-border i:before,
.form-control~.focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 2px;
  height: 0;
  background-color: rgb(36, 122, 202);
  transition: 0.4s;
}

.form-control~.focus-border i:after {
  left: auto;
  top: auto;
  bottom: 0;
  right: 15px;
}

.form-control:focus~.focus-border:before,
.form-control:focus~.focus-border:after {
  width: calc(100% - 30px);
  transition: 0.3s;
}

.form-control:focus~.focus-border i:before,
.form-control:focus~.focus-border i:after {
  height: 100%;
  transition: 0.4s;
}

/* BUTTON ANIMATION */
.button:hover,
.button:focus {
  animation: pulse 1s forwards;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

button {
  color: rgb(255, 0, 0);
  transition: 0.25s;
}

button:hover {
  border-color: rgb(36, 122, 202) !important;
}

button:focus,
button:hover {
  background-color: rgb(36, 122, 202) !important;
  color: rgb(255, 255, 255) !important;
}

/* AGE MESSAGE */
.alert {
  overflow-y: hidden;
  min-height: 75px;
  /* padding: 0 !important; */
}

/* .alert > div {
  margin: 12px 15px;
} */
.alertAnimate {
  animation: slide 1s;
}

/* Animations */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(36, 122, 202);
    background-color: rgb(36, 122, 202);
  }
}

@keyframes slide {
  0% {
    margin-top: -100px;
  }

  100% {
    margin-top: 0px;
  }
}