body {
  color: rgb(36, 122, 202) !important;
  height: 100vh;
  background-color: rgb(238, 238, 238) !important;
}
#app {
  padding: 50px;
  background-color: rgb(238, 238, 238);
  height: 100vh;
  overflow-y: auto;
}

/* SPINNER */
.loader,
.loader:before,
.loader:after {
  background: rgb(36, 122, 202);
  -webkit-animation: loadEffect 1s infinite ease-in-out;
  animation: loadEffect 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader {
  color: rgb(36, 122, 202);
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes loadEffect {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes loadEffect {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* .col-3 {
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative;
} necessary to give position: relative to parent. */
