.table-wrap {
  height: 500px;
  overflow-y: auto;
  border: 2px solid rgb(36, 122, 202);
}

table tbody tr:hover {
  cursor: pointer;
}
table tbody tr.selected {
  background-color: rgb(204, 221, 231);
}
